<div class="list-group">
    <a href="/admin" class="list-group-item list-group-item-action active" aria-current="true">
        Home
    </a>
    <a href="/admin/booking" class="list-group-item list-group-item-action">Bookings</a>
    <a href="/admin/contact" class="list-group-item list-group-item-action">ContactUs</a>
    {{#if (isSuperAdmin session)}}
    <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
    {{/if}}
    <a href="/admin/car" class="list-group-item list-group-item-action">Cars</a>
    <a href="/admin/testimonial" class="list-group-item list-group-item-action">Testionials</a>
</div>