{{>header}}
<title>Cental - Car Rent | Admin Section</title>
{{>navbar}}

{{>hero}}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-sm-8 col-10 m-auto">
            <h5 class="bg-primary text-center p-2 text-light">Login To Your Account</h5>
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <input type="text" name="username" class="form-control border-2 border-primary"
                        placeholder="Enter Username or Registered Email Address">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control border-2 border-primary"
                        placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{>footer}}