{{>header}}
{{>navbar}}
{{>hero}}
<div class="container-fluid text-center my-3">
    <h1>Thank You</h1>
    <h2>Your Booking Has Been Confirmed</h2>
    <h3>We will update you regarding your booking via email,sms and calls</h3>
</div>

{{>testimonial}}
{{>footer}}